@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
} 
a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #3f51b5;
}
a:hover {
    text-decoration: underline;
}